.ext-fob-toolsandservices-ng {

}
.modal-header {
	padding-bottom: 0px;
	position: relative;
}
.modal-title {
	font-size: 20px;
}
.option-box {
	border: 1px solid #dfdfdf;
    padding: 10px;
    margin-bottom: 15px;
}    
