.ext-fob-onboard-2-accountfunding-ng {
	/*body {
    	font-family: 'Montserrat';
    	font-size: 22px;
    	height: 100vh;
    	color: #000;
    	background:white;
	}
	.top-heading {
		color:black;
		
	}*/
}
